{% extends 'doctor/sidebar.html' %}
{% block b %}
{% load static %}

<h2 style="font-family:roman;color:green" align="center" class="card">All Appointment</h2>
							<div class="card">
									{% for i in messages %}
					<p style="color:red">{{i}}</p>
{% endfor %}
								<div class="card-body pt-0">

									<!-- Tab Menu -->
									<!-- /Tab Menu -->

									<!-- Tab Content -->
									<div class="tab-content pt-0">

										<!-- Appointment Tab -->
										<div id="pat_appointments" class="tab-pane fade show active">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>Patient</th>
																	<th>Appt Date</th>
																	<th>Appt Time</th>
																	<th>Doctor Amount</th>
																	<th>Status</th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
															{% for i in data %}
																<tr>
																	<td>
																		<h2 class="table-avatar">
																			<a href="#" class="avatar avatar-sm mr-2">
																				<img class="avatar-img rounded-circle" src="{{i.patient.image.url}}" alt="User Image">
																			</a>
																			<a href="#">{{i.patient.user.first_name}} {{i.patient.user.last_name}}<span>{{i.specialist}}</span></a>
																		</h2>
																	</td>

																	<td>{{i.a_date}} </td>
																	<td>{{i.a_timing}}</td>
																	<td>₹{{i.doctor.price}}</td>
																	{% if i.status == "pending" %}
																	<td><span class="badge badge-pill bg-danger-light">{{i.status}}</span></td>
																	{% else %}
																	{% if i.status == "confirmed" %}
																	<td><span class="badge badge-pill bg-success-light">{{i.status}}</span></td>
																	{% endif %}
																	{% endif %}
																	<td class="text-right">
																		<div class="table-action">
																			<a href="{% url 'doctor_invoice' i.id %}" class="btn btn-sm bg-info-light">
																				<i class="far fa-eye"></i> View
																			</a>
																		</div>
																	</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- /Appointment Tab -->


										<!-- /Billing Tab -->

									</div>
									<!-- Tab Content -->

								</div>
							</div>

			<!-- /Page Content -->

{% endblock %}

