{% extends 'doctor/sidebar.html' %}
{% load widget_tweaks %}
{% block b %}
{% load static %}

<h2 style="font-family:roman;color:green" align="center" class="card">Change Password</h2>
 {% for i in messages %}
<p style="color:red">{{i}}</p>
{% endfor %}

<div class="card">



								<div class="card-body">
									<div class="row">
										<div class="col-md-12 col-lg-6">

											<!-- Change Password Form -->
											<form action="" method="post">
                                                {% csrf_token %}
												<div class="form-group">
													<label>Old Password</label>
													<input type="password" name="pwd1" class="form-control">
												</div>
												<div class="form-group">
													<label>New Password</label>
													<input type="password" name="pwd2" class="form-control">
												</div>
												<div class="form-group">
													<label>Confirm Password</label>
													<input type="password" name="pwd3" class="form-control">
												</div>
												<div class="submit-section">
													<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
												</div>
											</form>
											<!-- /Change Password Form -->

										</div>
									</div>
								</div>
							</div>

			<!-- /Page Content -->

{% endblock %}
