{% extends 'doctor/doctor_navigation.html' %}
{% block body %}
{% load static %}
		<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'doctor_dashboard' %}">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">{% block title %}{% endblock %}</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->

			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

							<!-- Profile Sidebar -->
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											{% if request.user.doctor_set.all.0.image %}
											<img src="{{request.user.doctor_set.all.0.image.url}}" alt="User Image">
											{% endif %}
										</a>
										<div class="profile-det-info">
											<h3>Dr. {{request.user.first_name}} {{request.user.last_name}}</h3>

											<div class="patient-details">
												<h5 class="mb-0">{{request.user.doctor_set.all.0.biography}}</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li class="active">
												<a href="{% url 'doctor_dashboard' %}">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											<li>
												<a href="{% url 'confirmed_d_appointment' %}">
													<i class="fas fa-calendar-check"></i>
													<span>Appointments</span>
												</a>
											</li>
											<li>
												<a href="{% url 'my_patient' %}">
													<i class="fas fa-user-injured"></i>
													<span>My Patients</span>
												</a>
											</li>

											<li>
												<a href="{% url 'all_patient_appointment' %}">
													<i class="fas fa-file-invoice"></i>
													<span>Invoices</span>
												</a>
											</li>
											<li>
												<a href="{% url 'doctor_profile' %}">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												<a href="{% url 'doctor_change_password' %}">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="{% url 'logout' %}">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /Profile Sidebar -->

						</div>

						<div class="col-md-7 col-lg-8 col-xl-9">

                            {% block b %}
                            {% endblock %}

                            </div>
					</div>

				</div>

			</div>


{% endblock %}
{% block c %}

{% endblock %}
