{% extends 'patient/sidebar.html' %}
{% load static %}
{% block b %}
<h2 style="font-family:roman;color:green" align="center" class="card">Book Appointment</h2>
{% for i in messages %}
<p style="color:red">{{i}}</p>
{% endfor %}

<div class="content">
				<div class="container">

					<div class="row">
						<div class="col-12">

							<div class="card">
								<div class="card-body">
									<div class="booking-doc-info">
										<a href="doctor-profile.html" class="booking-doc-img">
											<img src="{{hospital.image.url}}" alt="User Image">
										</a>
										<div class="booking-info">
											<h4><a href="doctor-profile.html"> {{hospital.name}}</a></h4>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">35</span>
											</div>
											<p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> {{hospital.address}}, India</p>
										</div>
									</div>
								</div>
							</div>

							<!-- Schedule Widget -->
							<div class="card booking-schedule schedule-widget">

								<!-- Schedule Header -->
								<div class="schedule-header">
									<div class="row">
										<div class="col-md-12">

											<form action="" method="post">
{% csrf_token %}
												<div class="form-group">
													<label>Enter Appointment Date</label>
													<input type="date" class="form-control" name="a_date">
												</div>

                                                <button type="submit"  class="btn btn-primary submit-btn">Proceed to Pay</button>
							</div>

</form>
										</div>
									</div>
								</div>
								<!-- /Schedule Header -->
                            </div>


							<!-- /Submit Section -->

						</div>
					</div>
				</div>

			</div>
		{% endblock %}
