{% extends 'patient/patient_navigation.html' %}
{% block body %}
{% load static %}
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Dashboard</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->

			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">

						<!-- Profile Sidebar -->
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                            <div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											{% if request.user.patient_set.all.0.image %}
											<img src="{{request.user.patient_set.all.0.image.url}}" alt="User Image">
											{% endif %}
										</a>
										<div class="profile-det-info">
											<h3>{{request.user.first_name}} {{request.user.last_name}}</h3>
											<div class="patient-details">
												<h5><i class="fas fa-birthday-cake"></i> {{request.user.patient_set.all.0.dob}},</h5>
												<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{request.user.patient_set.all.0.address}}</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li class="active">
												<a href="{% url 'patient_dashboard' %}">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											<li>
												<a href="{%  url 'apply_card' %}">
													<i class="fas fa-bookmark"></i>
													<span>Health Card</span>
												</a>
											</li>
											<li>
												<a href="{% url 'patient_profile' %}">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												<a href="{% url 'change_password' %}">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="{% url 'logout' %}">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>

							</div>


						</div>
						<!-- / Profile Sidebar -->

						<div class="col-md-7 col-lg-8 col-xl-9">
                            {% block b %}
                            {% endblock %}

                            </div>
					</div>

				</div>

			</div>
{% endblock %}
