{% extends 'patient/sidebar.html' %}
{% load static %}
{% block b %}		<!-- /Breadcrumb -->
{% for i in messages %}
<p style="color:red">{{i}}</p>
{% endfor %}
			<!-- Page Content -->
			<div class="content success-page-cont">
				<div class="container-fluid">

					<div class="row justify-content-center">
						<div class="col-lg-6">

							<!-- Success Card -->
							<div class="card success-card">
								<div class="card-body">
									<div class="success-cont">
										<i class="fas fa-check"></i>
										<h3>Thank You! {{request.user.first_name}} {{request.user.last_name}}</h3>
										<p>Your request sent Successfully ,wait for your profile verification.</p>
									</div>
								</div>
							</div>
							<!-- /Success Card -->

						</div>
					</div>

				</div>
			</div>
			<!-- /Page Content -->

			<!-- Footer -->
{% endblock %}
