{% extends 'user_navigation.html' %}
{% load static %}
{% block body %}
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-8 offset-md-2">

							<!-- Login Tab Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<div class="col-md-7 col-lg-6 login-left">
										<img src="{% static 'user/img/login-banner.png' %}" class="img-fluid">
									</div>
									<div class="col-md-12 col-lg-6 login-right">
										<div class="login-header">
											<h3>Login <span>Form</span></h3>
										</div>
										{% for i in messages %}
										{% if i == "Invalid Credential" %}
												<p style="color:red">{{i}}</p>
										{% else %}
											<p style="color:green">{{i}}</p>
										{% endif %}
{% endfor %}
										<form action="" method="post">
                                            {% csrf_token %}
											<div class="form-group form-focus">
												<input type="text" class="form-control floating" name="username" required>
												<label class="focus-label">Username</label>
											</div>
											<div class="form-group form-focus">
												<input type="password" class="form-control floating" name="password" required>
												<label class="focus-label">Password</label>
											</div>

											<input type="submit" class="btn btn-primary btn-block btn-lg login-btn" value="Login">

											<div class="text-center dont-have">Don’t have an account? <a href="{% url 'register' %}">Register</a></div>
										</form>
									</div>
								</div>
							</div>
							<!-- /Login Tab Content -->

						</div>
					</div>

				</div>

			</div>
{% endblock %}
