<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	     <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />

		<title>Welcome To Our Website</title>

		<!-- Favicons -->
		<link type="image/x-icon" href="{% static 'user/img/favicon.png' %}" rel="icon">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">

		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'user/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'user/plugins/fontawesome/css/all.min.css' %}">

		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'user/css/style.css' %}">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="{% static 'user/js/html5shiv.min.js' %}"></script>
			<script src="{% static 'user/js/respond.min.js' %}"></script>
		<![endif]-->

	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">

			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="#" class="navbar-brand logo">
							<img src="{% static 'user/img/favicon (1).png' %}" class="img-fluid" alt="Logo" style="width:90px;height:60px">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index-2.html" class="menu-logo">
								<img src="{% static 'user/img/logo.png' %}" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="active">
								<a href="{% url 'home' %}">Home</a>
							</li>
							<li class="has-submenu">
								<a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
<!--									<li><a href="{% url 'login' %}">Doctor Dashboard</a></li>-->
									<li><a href="{% url 'login' %}">Appointments</a></li>
									<li><a href="{% url 'login' %}">Schedule Timing</a></li>
									<li><a href="{% url 'login' %}">Patients List</a></li>
									<li><a href="{% url 'login' %}">Patients Profile</a></li>
									<li><a href="{% url 'login' %}">Invoices</a></li></ul>
							</li>
							<li class="has-submenu">
								<a href="#">Patients <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="{% url 'login' %}">Search Doctor</a></li>
									<li><a href="{% url 'login' %}">Doctor Profile</a></li>
									<li><a href="{% url 'login' %}">Booking</a></li>
									<li><a href="{% url 'login' %}">Checkout</a></li>
								</ul>
							</li>


							{% if not request.user.is_authenticated %}
							<li class="login-link">
								<a href="{% url 'login' %}">Login / Signup</a>
							</li>
							{% else %}
							<li class="login-link">
								<a href="{% url 'logout' %}">Logout</a>
							</li>
							{% endif %}
						</ul>
					</div>
					<ul class="nav header-navbar-rht">
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<i class="far fa-hospital"></i>
							</div>
							<div class="header-contact-detail">
								<p class="contact-header">Contact</p>
								<p class="contact-info-header"> +91 xxxxxxxxxx</p>
							</div>
						</li>
						{% if not request.user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link header-login" href="{% url 'login' %}">login / Signup </a>
						</li>
						{% endif %}
					</ul>
				</nav>
			</header>

{% block body %}
{% endblock %}


<footer class="footer">

				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">

								<!-- Footer Widget -->
<!--								<div class="footer-widget footer-about">-->
									<!--<div class="footer-logo">
							<img src="{% static 'user/img/favicon (1).png' %}" class="img-fluid" alt="Logo" style="width:130px;height:80px;">
									</div> -->
<!--									<div class="footer-about-content">-->
<!--										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>-->
<!--										<div class="social-icon">-->
<!--											<ul>-->
<!--												<li>-->
<!--													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>-->
<!--												</li>-->
<!--												<li>-->
<!--													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>-->
<!--												</li>-->
<!--												<li>-->
<!--													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>-->
<!--												</li>-->
<!--												<li>-->
<!--													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>-->
<!--												</li>-->
<!--												<li>-->
<!--													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>-->
<!--												</li>-->
<!--											</ul>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
								<!-- /Footer Widget -->

<!--							</div>-->

<!--							<div class="col-lg-3 col-md-6"> -->

								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Patients</h2>
									<ul>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Search for Doctors</a></li>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Login</a></li>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Register</a></li>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Booking</a></li>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Patient Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->

							</div>

							<div class="col-lg-3 col-md-6">

								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Doctors</h2>
									<ul>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Appointments</a></li>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Chat</a></li>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Login</a></li>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Register</a></li>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Doctor Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
                             </div>

							<div class="col-lg-3 col-md-6">
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Hosptial</h2>
									<ul>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Appointments</a></li>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Chat</a></li>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Login</a></li>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Register</a></li>
										<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Doctor Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->

							</div>

							<div class="col-lg-3 col-md-6">

								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p> 10/B Lalpur Kalan,<br> Distt Rampur, <br>Uttar Pradesh. </p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i>
											+91 73512 82110
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i>
											E-patient@gmail.com
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->

							</div>

						</div>
					</div>
				</div>
				<!-- /Footer Top -->

				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">

						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"><a>© Designed By Mohd Azam & Sachin Kumar </a></p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">

									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a>All Rights Reserved</a></li>
											<li><a>2021-22</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->

								</div>
							</div>
						</div>
						<!-- /Copyright -->

					</div>
				</div>
				<!-- /Footer Bottom -->

			</footer>
			<!-- /Footer -->

	   </div>
	   <!-- /Main Wrapper -->

		<!-- jQuery -->
		<script src="{% static 'user/js/jquery.min.js' %}"></script>

		<!-- Bootstrap Core JS -->
		<script src="{% static 'user/js/popper.min.js' %}"></script>
		<script src="{% static 'user/js/bootstrap.min.js' %}"></script>

		<!-- Slick JS -->
		<script src="{% static 'user/js/slick.js' %}"></script>

		<!-- Custom JS -->
		<script src="{% static 'user/js/script.js' %}"></script>

	</body>


</html>
