<!DOCTYPE html>
<html lang="en">
{% load static %}
    

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>E-Patient - Dashboard</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'admin/img/favicon.png' %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">

	<!-- Datatables CSS -->
		<link rel="stylesheet" href="{% static 'admin/plugins/datatables/datatables.min.css' %}">

		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'admin/css/font-awesome.min.css' %}">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="{% static 'admin/css/feathericon.min.css' %}">
		
		<link rel="stylesheet" href="{% static 'admin/plugins/morris/morris.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
		
		<!--[if lt IE 9]>
			<script src="{% static 'admin/js/html5shiv.min.js' %}"></script>
			<script src="{% static 'admin/js/respond.min.js' %}"></script>
		<![endif]-->
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="{% url 'admin_dashboard' %}" class="logo">
						<img src="{% static 'user/img/favicon (1).png' %}" class="img-fluid" alt="Logo" style="width:60px;height:65px">
					</a>
					<a href="{% url 'admin_dashboard' %}" class="logo logo-small">
						<img src="{% static 'user/img/favicon (1).png' %}" class="img-fluid" alt="Logo" style="width:60px;height:65px">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>
				
				<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					<!-- Notifications -->

					<!-- /Notifications -->
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img class="rounded-circle" src="{% static 'admin/img/profiles/avatar-01.jpg' %}" width="31" alt="Ryan Taylor"></span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="{% static 'admin/img/profiles/avatar-01.jpg' %}" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>Health Admin</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="{% url 'admin_profile' %}">My Profile</a>
							<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main</span>
							</li>
							<li class="active"> 
								<a href="{% url 'admin_dashboard' %}"><i class="fe fe-home"></i> <span>Dashboard</span></a>
							</li>

							<li>
								<a href="{% url 'admin_view_appointment' %}"><i class="fe fe-layout"></i> <span>Doctor Appointments</span></a>
							</li>

							<li>
								<a href="{% url 'admin_hospital_appointment' %}"><i class="fe fe-layout"></i> <span>Hospital Appointments</span></a>
							</li>

							<li> 
								<a href="{% url 'admin_view_doctors' %}"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
							</li>

							<li>
								<a href="{% url 'admin_view_patients' %}"><i class="fe fe-user"></i> <span>Patients</span></a>
							</li>
							<li>
								<a href="{% url 'admin_patient_search_by_id' %}"><i class="fe fe-user"></i> <span>Patient Search By Id</span></a>
							</li>

							<li>
								<a href="{% url 'admin_view_medicals' %}"><i class="fe fe-user"></i> <span>Medical</span></a>
							</li>

							<li>
								<a href="{% url 'admin_view_hospitals' %}"><i class="fe fe-user"></i> <span>Hospital</span></a>
							</li>

							<li>
								<a href="{% url 'request_health_card' %}"><i class="fe fe-file"></i> <span>Card Request</span></a>
							</li>

							<li>
								<a href="{% url 'all_card_user' %}"><i class="fe fe-file"></i> <span>All Card</span></a>
							</li>

						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <!-- /Page Wrapper -->
			{% block body %}
			{% endblock %}

        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="{% static 'admin/js/jquery-3.2.1.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'admin/js/popper.min.js' %}"></script>
        <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
		
		<!-- Slimscroll JS -->
        <script src="{% static 'admin/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

		<script src="{% static 'admin/plugins/raphael/raphael.min.js' %}"></script>
		<script src="{% static 'admin/plugins/morris/morris.min.js' %}"></script>
		<script src="{% static 'admin/js/chart.morris.js' %}"></script>
		
		<!-- Custom JS -->
		<script  src="{% static 'admin/js/script.js' %}"></script>


	<!-- Datatables JS -->
	<script src="{% static 'admin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables/datatables.min.js' %}"></script>
		
    </body>


</html>
